html {
    scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}
.carousel-item {
    height: 400px;
}
.carousel-caption hr {
    border-color: white;
	width: 600px;
	border-width: 3px;
}

.navbar .navbar-brand {
    color: white;
    font-size: 25px;
}
.navbar .navbar-nav .nav-link {
	color: white;
}

.navbar .navbar-nav .nav-link:hover {
	color: brown;
}
.footer-body {
	margin-top: 30px;
	margin-bottom: 30px;
}